.row-table .actions-column {
  display: none;
  position: absolute;
  top: 5px;
}

.row-table:hover .actions-column {
  display: inline;
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 0px;
}
.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0px;
}

.ant-table-content img {
  border-radius: 5px;
  border: 2px solid #47525d45;
}

.interactions {
  color: #8c5088;
  font-weight: bold;
  font-size: 20px;
  padding: 2px;
  border: 1px solid #e3dada;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  display: block;
  background: #04152905;
}

.connected {
  color: #86bf3f;
  border: 1px solid;
  padding: 1px 2px;
  border-radius: 3px;
  background: #86bf3f0d;
}

.disconnected {
  color: #ff4d4f;
  border: 1px solid;
  padding: 1px 2px;
  border-radius: 3px;
  background: #86bf3f0d;
}

.waiting {
  color: #faad14;
  border: 1px solid;
  padding: 1px 2px;
  border-radius: 3px;
  background: #86bf3f0d;
}

.ant-table-tbody,
.ant-table-thead {
  font-size: 11px;
}

.no-results {
  height: 50px;
  max-width: 100%;
  margin-top: 10px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  background: #ffebeb;
  text-align: center;
  padding-top: 2px;
}

.no-results .content {
  margin: 15px 24px;
  font-size: 16px !important;
  font-weight: 200;
}
