.autocomplete-ajax-list {
    position: relative;
    width: 300px;
}

.autocomplete-ajax-list .spin {
    position: absolute;
    right: 12px;
    top: 2px;
}

.autocomplete-ajax-list .list-autocomplete {
    position: absolute;
    z-index: 999;
    width: 300px;
}

.autocomplete-ajax-list .link-normal {
    color: #000 !important;
}

.autocomplete-ajax-list .link-special {
    color: #1890ff !important;
}

.autocomplete-ajax-list .ant-list-bordered.ant-list-sm .ant-list-item {
    padding: 2px 8px;
    background: #fff;
    overflow: hidden;
}

.autocomplete-ajax-list .input-search{
    padding: 1px 8px;
    border: #e6e6e6 1px solid;
}

    
.autocomplete-ajax-list .list-item{
    cursor: pointer;
}
