:root {
  --christi: #6bb21e;
  --mercury: #e6e6e6;
  --raven: #727176;
  --white-smoke: #f6f6f6;
  --white: #ffffff;
  --black: #000000;
  --cg-blue: #041529;
  --steel-gray: #46474a;
  --green: #008500;
  --kelly-green: #4fb600;
  --pale-slate: #c4c4c4;
  --dark-blue: #041529;
  --light-blue: #041529;
  --light-orange: #ff4d4f;
  --primary: #1b90ff;
}
